{% extends "base.html" %}

{% block css %}
    {{ block.super }}

    {# This file stores page-specific CSS #}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    {# Logo #}
    <img src="{% static 'images/getdwelling.png' %}" title="Get Dwelling" class="center index-logo" alt="Get Dwelling"/>


    {# Button used to redirect to "View Data" page. #}
    <form action="/source" method="get">
        {% csrf_token %}
        <input type="submit" value="View Dwelling Data" class="btn btn-hg btn-primary center index-button">
    </form>

    {# Button used to redirect to "Make Analysis" page. #}
    <form action="/analyze" method="get">
        {% csrf_token %}
        <input type="submit" value="Make Analysis" class="btn btn-hg btn-primary center index-button">
    </form>

        {# Button used to redirect to "Make Analysis" page. #}
    <form action="/insights" method="get">
        {% csrf_token %}
        <input type="submit" value="Simple Insights" class="btn btn-hg btn-primary center index-button">
    </form>

{% endblock %}
