{% extends "base.html" %}


{% block content %}

    {# Logo #}
    <img src="{% static 'images/getdwelling.png' %}" title="Get Dwelling" class="center" alt="Get Dwelling"/>


    {# Button used to redirect to "View Data" page. #}
    <form action="/source" method="get">
        {% csrf_token %}
        <input type="submit" value="View Dwelling Data" class="center btn btn-hg btn-primary">
    </form>

    {# Button used to redirect to "Make Analysis" page. #}
    <form action="/analyze" method="get">
        {% csrf_token %}
        <input type="submit" value="Make Analysis" class="center btn btn-hg btn-primary">
    </form>

{% endblock %}
