
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-button {
    margin-top: 20px;
}

.index-logo {
    margin-top: 100px;
}

body {

    background-image: url("http://localhost:8000/static/images/background.jpg");
    background-size: cover ;
}
